:root{
    --grey-color:#706e6f;
    --light-grey-color:#a6a6a6;
    --black-color:#000000;
    --white-color:#f6f5f5;
    --orange_hover-color:#f0d0a3;
    --green-color:#61bd3a;
    --green_hover-color:#348811;
}

.form__container{
    max-width: 1300px;

}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
}
    
.inputs__container{
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 2;
}

.img__container {
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 2;
    text-align: center;
}

.submit__container {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 5;
}
.input {
    margin-top: 1px;
    padding: 6px 12px 6px 6px;
    border-radius: 5px;
    font-size: 1rem;
}
.input__group{
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin-top: 7px;
    height: auto;
}

.submit__button{
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    margin-top: 20px;
    background-color: var(--green-color);
    color: var(--white-color);
    border: 2px solid var(--green-color);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3 ease;
}
.submit__button:hover{
    background-color: var(--green_hover-color);
    border: 2px solid var(--green_hover-color);
}
.circle {
    width: 80%;
    height: 80%;
    background-color: var(--light-grey-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 50%;
    transition: all 0.3s ease-in;
}

.circle span {
    font-size: 3rem;
    color: var(--black-color); 
    transition: all 0.4s ease-in;
}
.circle:hover{
    background-color: var(--grey-color);
}
.circle span:hover{
    font-size: 3.2rem;
}

.upload__label p {
    margin-top: 10px;
    font-size: 1rem;
    cursor: pointer;
    color: var(--black-color)
}