:root{
    --orange-color: #f38f04;
    --grey-color:#706e6f;
    --light-grey-color:#e7e7e7;
    --black-color:#000000;
    --white-color:#f6f5f5;
    --orange_hover-color:#f0d0a3;
    --blue-color:#4285F4;
    --blue_hover-color: #5caff4;
    --green-color: #84ed4b00;
}

.form__container{
    max-width: 1300px;

}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px 20px;
    padding: 20px;
    background-color: var(--light-grey-color);
    border-radius: 10px;
}
    
.inputs__container{
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 2;
}

.img__container {
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 2;
    text-align: center;
}

.submit__container {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 5;
}
.input {
    margin-top: 1px;
    padding: 6px 12px 6px 6px;
    border-radius: 5px;
    font-size: 1rem;
}
.input:focus{
    border: 2px solid var(--orange-color);
}
.input__group{
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin-top: 7px;
    height: auto;
}

.submit__button{
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    margin-top: 20px;
    background-color: var(--blue-color);
    color: var(--white-color);
    border: 2px solid var(--blue-color);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3 ease;
    font-weight: bold;
}
.submit__button:hover{
    box-shadow: 0 0 10px var(--blue_hover-color);
}
.circle {
    min-width: 80%;
    min-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 50%;
    transition: all 0.3s ease-in;
    border: 2px solid var(--grey-color);
}

.circle span {
    font-size: 3rem;
    color: var(--black-color); 
    transition: all 0.4s ease-in;
}
.circle span:hover{
    font-size: 3.2rem;
}

.upload__label p {
    margin-top: 10px;
    font-size: 1rem;
    cursor: pointer;
    color: var(--black-color)
}
@media (max-width:941px){
    .parent{
        display:flex;
        flex-direction: column;
    }
    .circle{
        height: 90px;
        width: 100%;
        border-radius: 10px;
    }
}